<section id="title">
<h1>Nueman Family Medical</h1>
<h3>Changing and Saving Lives</h3>
</section>
<section id="cta">
<h2>New Patient?</h2>
<%= link_to 'New Patient', new_user_path, method: :get, class: 'ui blue button'%> 
<%#have to specify get otherwise it will try to post%>
</section>