<h1>Patients</h1>
<hr />
<ul>
<% @users.each do |user|%>
    <li><%=link_to user.name, user%>
    <br />
    <%=button_to 'edit', edit_user_path(user.id),method: :get%></li>
    <br />
<% end %>
</ul>
<br />
<%=link_to 'New Patient', new_user_path%>
